.homeBanner {
    min-height: 76vh;
    .homeBanner--image {
        background-size: cover;
        background-position: 50%;
    }
    .blurBackground {
        width: 55%;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.6) 60%,
            rgba(255, 255, 255, 0) 100%
        );
        .title {
            padding-left: 15%;
            padding-top: 10%;
            color: $softBlack;
            font-family: $bold;
        }
    }
}
.formback--color {
    background: linear-gradient(90deg, #6a82fb9c, #fc5c7da6);
    .image-phone {
        max-width: 280px;
        margin: 0 auto;
        top: -40px;
        left: 20%;
    }
    .formContainer {
        padding: 10% 0;
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            input,
            select {
                padding: 10px 5px;
                margin: 3px 0;
                border: none;
                border-radius: 2px;
                width: 350px;
                background-color: none !important;
            }
        }
    }
}
.threeFeatures {
    margin: 40px 0;
    .threeFeatures--icons {
        justify-content: center;
        margin: 70px 0 50px 0;
        .iconContainer {
            display: flex;
            padding: 40px;
            justify-content: center;
            flex-direction: column;
            .icons {
                margin: 0 auto;
                width: 100px;
            }
        }
    }
}
.scrollTop {
    height: 35px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    opacity: 1;
    transition: all 0.4s;
    &.init {
        opacity: 0;
        bottom: -40px;
    }
}
